{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
  <div class="dashboard container grid">
    {% include('components/navigation.html.twig') %}
    <main class="main-container">
      <div class="overlay" data-toggle-close></div>

      {% include('components/register.html.twig') %}

      <section class="user-section">
        <div class="section-header user-section-header flex">
          <label class="search-group flex flex-center"
                 for="user-table-search">
            <a href="#" class="btn flex toggleTest">
              <span class="icon icon-sm icon-search"></span>
            </a>
            <input type="text" name="user-table-search" id="table-search"
                   class="user-table-search" placeholder="Search">
          </label>

          <button class="btn btn-small btn-blue toggle-slider" id="add-user" data-toggle="addUserSlider">Add user </button>
        </div>
        <div class="user-section-table">
          <table class="table big-table" id="table" cellspacing="1">
            <thead>
              <tr class="sticky">
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>City</th>
                <th>Role</th>
                <th>Status</th>
                <th>Email</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody id="index-body">
              {% if users %}
                {% for user in users %}
                  <tr>
                    <td>{{ user.avatarpath }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.city }}</td>
                    {% if user.roles[0] == "ROLE_USER" %}
                      <td>User noob</td>
                    {% else %}
                      <td>{{ user.roles[0] != "ROLE_DEVELOPER" ? 'Administrator' : "Developer" }}</td>
                    {% endif %}
                    <td>{{ user.status | capitalize }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <div class="user-icon-group flex">
{#                        <a href="#">#}
{#                          <span class="icon icon-sm icon-edit"></span>#}
{#                        </a>#}
                        <a href="{{ path('dashboard_admin_view_user', {id: user.id}) }}">
                          <span class="icon icon-sm icon-eye-hollow"></span>
                        </a>
                        <span class="icon icon-sm icon-trash toggle-modal" data-toggle="{{ user.id }}"></span>
                      </div>
                      <section class="delete-user-container modal delete-user-modal" id="delete-user-container" data-toggleselector="{{ user.id }}">


                        <form action="{{ path('dashboard_user_delete') }}" method="POST" class="delete-user-form flex">

                          <h3>Are you sure you want to delete <span>{{ user.firstName }} {{ user.lastName }}</span></h3>

                          <input type="hidden" name="userId" value="{{ user.id }}">
                          <div class="button-group flex">
                            <input type="submit" class="btn btn-small btn-blue" value="Yes" />
                            <input type="button" class="btn btn-small btn-blue-hollow js-btn-close" value="No" data-toggle-close />

                          </div>
                        </form>
                      </section>
                    </td>
                  </tr>

                {% endfor %}


              {% else %}
                <tr>
                  No user data
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </div>

{% endblock %}
