{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}

  <div class="dashboard container grid">
    {% include('components/navigation.html.twig') %}
    <main class="main-container">
      <div class="overlay" data-toggle-close></div>

      {% include('components/edit-user.html.twig') %}

      <section class="section-profile dev-profile-page grid">
        <div class="profile-info flex flex-center">
          <a href="#" class="edit-button">
            <span class="icon icon-sm icon-edit toggle-slider" data-toggle="userSlider"></span>
          </a>

          <form class="profile-group flex flex-center flex-column">
            <img src="./images/profile-images/profile-guy-one.png" class="rounded-50" alt="Profile image of a guy">

            <h2>
              {% set fullname = user.firstname ~ " " ~ user.lastname %}
              {{  fullname }}
            </h2>

            <div class="profile-description">
              <p>
                <span class="bold-14">First Name: </span>{{ user.firstname }}
              </p>
              <p>
                <span class="bold-14">Last Name: </span>{{ user.lastname }}
              </p>
              <p>
                <span class="bold-14">Email: </span>{{ user.email }}
              </p>
              <p>
                <span class="bold-14">Role: </span>{{ user.roles[0] != "ROLE_DEVELOPER" ? 'Administrator' : "Developer" }}
              </p>
              <p>
                <span class="bold-14">Bank Account: </span>{{ user.bankacc }}
              </p>
              <p>
                <span class="bold-14">Status: </span>{{ user.status | capitalize }}
              </p>
            </div>


            <div class="form-group mb-30">

{#              <span class="bold-14">This month: 120:16:45</span>#}
            </div>


          </form>
        </div>
        <div class="profile-table-area table-wrapper">
          <!-- <div class="table-wrapper"> -->
            <p>Tasks maybe go here</p>
          <!-- </div> -->
        </div>
      </section>
    </main>
  </div>


{% endblock %}
