{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}

  <div class="dashboard container grid">
    {% include('components/navigation.html.twig') %}
    <main class="main-container">
      <div class="overlay" data-toggle-close></div>

      {% include('components/add-client.html.twig') %}

      <section class="section-profile dev-profile-page grid">
        <div class="profile-info flex flex-center">
          <a href="#" class="edit-button">
            <span class="icon icon-sm icon-edit toggle-slider"
                  data-toggle="clientSlider"></span>
          </a>

          <form class="profile-group flex flex-center flex-column">
            <img src="{{ asset('images/profile-images/client-images/'~client.avatarpath) }}" alt="{{ client.avataralt }}"
                 class="rounded-50">

            <h2>
              {{ client.name }}
            </h2>

            <div class="profile-description">
              <p>
                <span class="bold-14">Client Name: </span>{{ client.name }}
              </p>

              <p>
                <span class="bold-14">Email: </span>{{ client.email }}
              </p>
              <p>
                <span class="bold-14">Bank Account: </span>{{ client.bankAcc }}
              </p>
              <p>
                <span
                    class="bold-14">Payment method: </span>{{ client.paymentMethod }}
              </p>

            </div>

            {{ form_start(clientFilterForm, { 'attr': {'class': 'slide-form flex'}}) }}
            <div class="form-group">
              {{ form_row(clientFilterForm.user) }}
            </div>

            <div class="form-group">
              {{ form_row(clientFilterForm.month) }}
            </div>
            {{ form_end(clientFilterForm) }}
           {# <div class="form-group mb-30">

              <span class="bold-14">Total hours: {{ userTotalHours }}</span>
            </div>#}
            <a href="{{ path('dashboard_admin_view_client', {id: client.id}) }}">Refresh</a>


          </form>
        </div>
        <div class="profile-table-area table-wrapper">
          <!-- <div class="table-wrapper"> -->
          {% if clientTasks is not empty %}
            <table class="table table-sm-blue" id="dev-client-table">
              <thead>
              <tr class="sticky">
                <th>Developer</th>
                <th>Task</th>
                <th>Month</th>
                <th>Time</th>
              </tr>
              </thead>
              <tbody>
              {% for clientTask in clientTasks %}
                <tr>
                  <td>
                    {{ clientTask.user.firstname }} {{ clientTask.user.lastname }}
                  </td>
                  <td>
                    {{ clientTask.description }}
                  </td>
                  <td>
                    {{ clientTask.month | date('d / m / Y')  }}
                  </td>
                  <td>
                    {{ clientTask.time | date("H:i:s") }}
                  </td>

                </tr>
              {% endfor %}



              </tbody>
            </table>

          {% else %}
            <h2>There are no tasks</h2>
          {% endif %}
          <!-- </div> -->
        </div>
      </section>
    </main>
  </div>


{% endblock %}
